In [168]:
import pandas as pd
import numpy as np

In [169]:
vdf = pd.read_csv('fruitvegprices-2017_2022.csv')

In [170]:
vdf

         category           item            variety        date  price  unit
0           fruit         apples  bramleys_seedling  2022-03-11   2.05    kg
1           fruit         apples  coxs_orange_group  2022-03-11   1.22    kg
2           fruit         apples    egremont_russet  2022-03-11   1.14    kg
3           fruit         apples           braeburn  2022-03-11   1.05    kg
4           fruit         apples               gala  2022-03-11   1.03    kg
...           ...            ...                ...         ...    ...   ...
9642  cut_flowers    alstromeria             indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum       indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies           oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus             indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen              13_cm  2017-11-03   0.75  unit

[9647 rows x 6 columns]

## Ejercicios

### Ejercicio uno: realice un analisis de valores nulos

En caso de existir valores nulos elimine esos registros

In [171]:
vdf.isnull().sum()

category    0
item        0
variety     0
date        0
price       0
unit        0
dtype: int64

### Ejercicio dos: Por categoria, cuantos distintos items hay y cuantos distintos variety hay?

El resultado debe de tener el siguiente formato de presentacion:

In [172]:
pd.DataFrame({
    "category" : ['cut_flowers','fruit']
    , "item_count" : [9,10]
    , "variety_Count" : [10,21]
})

      category  item_count  variety_Count
0  cut_flowers           9             10
1        fruit          10             21

Como nota en un mismo dataframe mostramos todo lo solicitado, usted debe de mostrar todas las categorias

In [173]:
x = vdf.loc[:,["category", "item", "variety"]].drop_duplicates()
x = vdf.groupby(["category"], as_index=False).agg({
    "item": "count",
    "variety" : "count"
})
x

      category  item  variety
0  cut_flowers   342      342
1        fruit  1992     1992
2   pot_plants    49       49
3    vegetable  7264     7264

### Ejercicio tres: Para la combinacion item, variety muestre el ultimo valor registrado por aÃ±o.

Ejemplo de como debe de mostrar su respuesta

In [174]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year" : [2022]
    , "last_price" :  [3.2]
})

      item variety  year  last_price
0  Manzana    Gala  2022         3.2

In [175]:
vdf["last_price"] = vdf["price"]
vdf["last_price"]

0       2.05
1       1.22
2       1.14
3       1.05
4       1.03
        ...
9642    0.27
9643    0.22
9644    0.70
9645    0.06
9646    0.75
Name: last_price, Length: 9647, dtype: float64

In [216]:
vdf["year"] = pd.DatetimeIndex(vdf["date"]).year

In [217]:
x2 = vdf

In [218]:
x2 = x2.sort_values("date",ascending=False)

In [219]:
x2 = vdf.loc[ : , ["item","variety","date","year","last_price"]].groupby(["item","variety","year"], as_index = False).head(1)

In [222]:
x2 = x2.drop(columns = "date")

In [223]:
x2 = x2.sort_values(["item","year"])

In [224]:
x2

             item            variety  year  last_price
9304  alstromeria             indoor  2017        0.27
6945  alstromeria             indoor  2018        0.33
9275       apples           braeburn  2017        0.71
9274       apples    egremont_russet  2017        0.86
9277       apples  other_late_season  2017        0.88
...           ...                ...   ...         ...
345        turnip             turnip  2021        1.28
27         turnip             turnip  2022        0.63
9303   watercress       pillow_packs  2017       10.82
6944   watercress       pillow_packs  2018        7.35
5495   watercress       pillow_packs  2019       10.14

[397 rows x 4 columns]

### Ejercicio cuatro: Segun el ejercicio tres, que tanto aumento o disminuyo el precio de cada item-variety 

Ejemplo de como se debe de mostrar su respuesta

In [146]:
pd.DataFrame({
    "item" : ['Manzana','Manzana','Manzana']
    , "variety" : ['Gala','Gala','Gala']
    , "year" : [2020,2021,2022]
    , "last_price" :  [2.7,2.5,3.2]
    , "delta" : [0, (2.5-2.7), (3.2-2.5)]
})

      item variety  year  last_price  delta
0  Manzana    Gala  2020         2.7    0.0
1  Manzana    Gala  2021         2.5   -0.2
2  Manzana    Gala  2022         3.2    0.7

Segun nuestro ejemplo dummy para 2021 estuvo 0.2 centavos mas barato y en 2022 estuvo 0.7 centavos caro

In [192]:
x3 = x2
x3["delta"] = x3["last_price"] - x3["last_price"].shift(1)
x3

             item            variety  year  last_price  delta
9642  alstromeria             indoor  2017        0.27    NaN
9267  alstromeria             indoor  2018        0.29   0.02
9593       apples  bramleys_seedling  2017        0.73   0.44
9594       apples  coxs_orange_group  2017        0.75   0.02
9595       apples    egremont_russet  2017        0.82   0.07
...           ...                ...   ...         ...    ...
2474       turnip             turnip  2021        1.69   0.62
311        turnip             turnip  2022        1.87   0.18
9641   watercress       pillow_packs  2017        8.04   6.17
9266   watercress       pillow_packs  2018       11.09   3.05
6911   watercress       pillow_packs  2019        6.58  -4.51

[397 rows x 5 columns]

### Ejercicio cinco: Cual es precio promedio por item, variety

Ejemplo de como se debe de mostrar su respuesta

In [148]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year-month" : ['2021-01']   
    , "avg-price" : [0.5]
})

      item variety year-month  avg-price
0  Manzana    Gala    2021-01        0.5

In [200]:
x4 = x2
x4 = vdf.groupby(["item","variety", "year"], as_index = False)["price"].agg({"AVG-Price":"mean"})
x4

            item       variety  year  AVG-Price
0    alstromeria        indoor  2017   0.275000
1    alstromeria        indoor  2018   0.282200
2         apples      braeburn  2017   0.685000
3         apples      braeburn  2018   0.780833
4         apples      braeburn  2019   0.865581
..           ...           ...   ...        ...
392       turnip        turnip  2021   1.438400
393       turnip        turnip  2022   1.319000
394   watercress  pillow_packs  2017  10.506250
395   watercress  pillow_packs  2018   9.516400
396   watercress  pillow_packs  2019   8.899118

[397 rows x 4 columns]

### Ejercicio seis: muestre por category,item,variety que tanto % ha aumentado su precio

Ejemplo: si para las manzanas gala el primer precio que se registro fue 2.00 y el ultimo precio que se registro es 4.00 este aumento un 100%

In [150]:
pd.DataFrame({
    "category": ["fruta","fruta"]
    ,"item" : ['Manzana','Manzana']
    , "variety" : ['Gala','egremont_russet']
    , "percentage-change-between-first-and-last-price" : [200,150]       
})

,category,item,variety,percentage-change-between-first-and-last-price
0,fruta,Manzana,Gala,200
1,fruta,Manzana,egremont_russet,150

### Ejercicio siete: Segun el ejercicio seis por category cual es el item,variety con mayor aumento de crecimiento 

Segun el ejemplo dummy que se utilizo en el ejercicio seis para la category fruta se mostraria la manzana gala unicamente